.footer {
  background-color: #111;
  color: #eee;
  margin-top: 7rem;
  padding: 50px 0;
  text-align: left;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  max-width: 1200px;
  padding-top: 7rem;
  margin: 0 auto;
}

.footer-column {
  width: 22%;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-top: 1.6rem;
  margin-bottom: 10px;
  color: #aaa;
}

.footer-column ul li:hover {
  color: #fff;
  cursor: pointer;
}

.footer-column p {
  color: #aaa;
  margin: 2rem 0 1rem 0;
}

.newsletter {
  display: flex;
  align-items: center;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
}

.subscribe-btn {
  background-color: #555;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-btn i {
  font-size: 1.2em;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
  margin-top: 40px;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}

/* RESPONSIVENESS */

@media (max-width: 992px) {
  .footer-container {
    padding-top: 5rem;
  }

  .footer-column {
    width: 45%; 
  }

  .newsletter input {
    width: 60%; 
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding-top: 4rem;
    justify-content: space-between;
  }

  .footer-column {
    width: 100%; 
    text-align: center;
  }

  .newsletter {
    flex-direction: column; 
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 1rem; 
  }
}

@media (max-width: 576px) {
  .footer-container {
    padding-top: 3rem;
    margin: 0 1rem;
  }

  .footer-bottom p {
    font-size: 0.8em; 
  }
}
